.boxEndereco{

    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white

}

.boxEndereco h1 {

    padding: 20px 0px;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.692);
    

}


.boxFilho{

  
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 20px;
    margin-top: 100px;
    
  
}



@media (orientation:portrait) and (max-width:430px){

    .boxFilho{

        margin-top: 12px;

    }

 }

 @media (orientation:landscape){

    .boxFilho h1 {

        padding: 0px 10px 15px 10px;
        font-size: 1.3rem;
    }

    .boxFilho{

        margin-top: 10px;

    }

 }


