.boxCardapio{

   text-align: center;
    max-width:1300px;
    margin: 0px auto;
    padding: 0px 10px 100px 10px;

    
}


.cardapio{

    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(250px ,1fr));
    gap: 20px;
    padding: 40px 20px 40px 20px;
    overflow: hidden;
    transition: all 500ms linear;
   
    
}


.boxMostrarMais{

    margin-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btnMostrar{

    width: 200px;
    padding: 12px;
    border: none;
    text-transform: uppercase;
    font-family: var(--rel);
    cursor: pointer;
    font-weight: bolder;
    background-color: var(--cormos);
    color: white;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 8px;
}
    
.iconSeta{

    transform: rotate(90deg) translateX(0);
    animation-name: moveSeta;
    animation-duration: 800ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}


@keyframes moveSeta {

    to{

        transform: rotate(90deg) translateX(8px);
        transition: all 500ms linear;
    }
}

.imageProdutos{

    

    border-radius: 10px;
    width: 100%;
    object-fit: cover;
    image-rendering:pixelated;
   
    
}
    

.card{

    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
    position: relative;
    
}

    

.card:hover{

    background-color: var(--corpadrao);
}


.card:hover > .boxInfo > .boxTx > p:nth-of-type(1){

    display: none;
}

.card:hover > .boxInfo > .boxTx > p:nth-of-type(2){

    color: white;
    padding-top: 10px;
}

.card:hover  .boxHidden{

    display: flex;
    padding-top: 10px;
}


.card:hover > .iconEscondido{

    display: block;
   
    
}

.card .boxInfo{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 400px;
}

.card > .boxInfo > .boxTx > p:nth-of-type(1){

    text-transform: capitalize;
    font-size: 1.4rem;
    padding: 10px;
    font-family: var(--rel);
    color:gray;
    font-weight: 600;


}

.card > .boxInfo > .boxTx > p:nth-of-type(2){

    font-size: 1.6rem;
    font-family: var(--sans);
    color: var(--corpadrao);
    font-weight: 900;

}


.boxTitulo{

    padding: 40px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.boxTitulo h1{

    font-size: 3rem;
    text-transform: uppercase;
    font-family: var(--rell);
    color: var(--cormos);
   
}

.boxTitulo p {

    font-size: 2rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.774);
    font-family: var(--rel);
    padding-bottom: 40px;
}
    


.boxButton{

max-width: 1300px;

margin: 0px auto;
overflow-x: auto;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
 padding: 0px 20px 40px 20px;
 gap: 20px;

}

.boxButton::-webkit-scrollbar{

    height: 5px;

}

.boxButton::-webkit-scrollbar-track{

    background-color: transparent;
}

.boxButton::-webkit-scrollbar-thumb{

    background-color: #E6E1D3;
}
   
    

.boxButton button {

    flex: none;
    width: 200px;
    padding: 10px;
    cursor: pointer;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color:black;
    font-size: 1.4rem;
    border: 1px solid var(--corpadrao);
    border-radius: 10px;
    transition: all 500ms linear;

}
   

    
    



.iconButton{

   color: var(--corpadrao); 
   width: 30px;
   height: 30px; 
   transition: all 500ms linear;
}

.boxButton button:hover{

    background-color: var(--corpadrao);
    color: white;
    transition: all 500ms linear;


}


.boxButton button:hover > .iconButton{

    color: white;
    transition: all 500ms linear;

}



.boxHidden{

    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
    
}



.control  {

   display: flex;
   flex-direction: row;
   align-items: center;
   
   gap: 10px;
   
}


.control > p {

    font-size: 1.4rem;
    color: rgba(247, 247, 247, 0.808);

}


.control button{

    width: 40px;
    height: 40px;
    border: none;
    box-shadow: 0px 3px 0px rgba(128, 128, 128, 0.623);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: rgb(252, 243, 243);
    
    background-color: rgba(255, 255, 255, 0.562);
    
}

.control button:active{


    box-shadow: 0px 3px 0px  rgba(128, 128, 128, 0.623);
    transform: translateY(1px);

}







.iconEscondido{

    width: 25px;
    height: 25px;
    color: black;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: var(--cormos);
    border-radius: 50%;   
    display: none;
    color: white;

}

    





.boxButton .mudaCor{

background-color: var(--corpadrao);
color: white ;

}

.mudaCor .iconButton{

    color: white;

}


.mudaCorOff{

    background-color: white;
}



.setaRotate{

  animation: none;
  transform: rotate(-90deg);

}



/* intersection anima */


.animaOff{

    transform: translateX(-250px);
    opacity: 0;
    transition: none;
    
    
    

}

.animaOn{


    transform: translateX(0);
    opacity: 1;
    transition: all 1s linear;
  

}


    



@media screen and (max-width:1130px) {

    .boxButton{

        justify-content: flex-start;
    }

}

@media screen and (max-width:596px) {

        .cardapio{

            grid-template-columns: 1fr

        }

       

        .card .boxInfo{

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            min-height: 150px;
            
        }
           
           
            
            
            

        .boxTx{

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
         
            
            
        }

        .control{

            display: flex;
            flex-direction:column;
            align-items: center;
            justify-content: space-around;
           
        }

       .card .boxInfo  .boxTx > p:nth-of-type(1){

            font-size: 5vw;
            
        }
      .card .boxInfo .boxTx > p:nth-of-type(2){

           font-size: 5vw;
            
        }


        .iconEscondido{

           top:10px;
           left:10px;
        }


        .imageProdutos{

          
            width: 50%;
            height: fit-content;
             
        
        }
          

        

}


@media screen and (max-width:345px) {

  .card  .boxInfo{

        display: flex;
        flex-direction: column;
    }

    .control{
        flex-direction: row;
    }

    .card > .iconEscondido{
        left: auto; 
        right: 0px;
        bottom: 0px;
       
        
    }

   .card .boxInfo .imageProdutos{

        width: 100%;
        
    }

   .card .iconEscondido{

        right: 8px;
       top: 10px;

    }

}