.btnSacola {


    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    background-color: var(--cormos);
     position: fixed;
     bottom: 80px;
     right: 5px;
     cursor: pointer;
     
     
     
 
    & .iconSacola{
 
     width: 45px;
     height: 45px;
     color: white;
        
    }


    & .contador{

        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: var(--corpadrao);
        color: white;
        position: absolute;
        top: -3px;
        left: -10px;
        align-content: center;
        text-align: center;
 
    }

 }