.sectionPaiRevisar{

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--corgeral);
    font-family: var(--rell);
    padding: 0px 15px;
    
}
   
 
.boxFilho{

    max-width: 1200px;
    margin: 100px auto;
}


/* caso crie um  componente carrinho  */





/* fim do style carrinho */
    


