.sectionPaiRevisar{

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--corgeral);
    font-family: var(--rel);
    padding: 0px 15px;
    z-index: 1;
    
}
 


  
 
.boxFilho{

    margin-top: 150px;
    max-width: 1200px;
    margin: 100px auto;
   padding: 0px 20px;
}


/* caso crie um  componente carrinho  */

.boxCarrinho {

    width: 100%;
    height: 500px;
    overflow: auto;
    border-bottom: 1px solid rgba(128, 128, 128, 0.397);
    margin-bottom: 10px;
    padding: 0px 10px ;
    position: relative;
}


.boxCarrinho::-webkit-scrollbar{

    background-color:white;
    width: 6px;
}

.boxCarrinho::-webkit-scrollbar-thumb{

    background-color: var(--corpadrao);
    border-radius: 10px;
    width: 6px;
}

.boxCarrinho h2 {

    padding: 20px 0px;
  
}


.itensCarrinho{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cardCarrinho{

    display: flex;
    flex-direction: row;
    gap: 20px;
   
  
}



.boxNomeItens > p{

    padding-top: 10px;
    font-size: 1.3rem; 
    color: var(--cormos);
}

.imgProd{

    width: 100px;
    height: 100px;
    border-radius: 8px;
    
    
}

.boxAddItens{

   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    outline: 2px solid black;
    border-radius: 10px;
    height: 40px;   
}
   
    
  
    


.boxAddItens div {

    width: 35px;
    height: 100%;
    align-content: center;
    text-align: center;
    font-size: 2rem;
    
    
}

.boxAddItens div:nth-of-type(1){


    border-right: 2px solid black;
    
    cursor: pointer;
    
}

.boxAddItens div:nth-of-type(2){


    font-size: 1.4rem;
    
}

.boxAddItens div:nth-of-type(3){


   
    border-left: 2px solid black;
    cursor: pointer;
    
}

.boxCountRevisar{

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    
   
}

.boxCountRevisar > button {

  
   border: none;
   width: 42px;
   height: 40px;
   border-radius: 10px;
   font-size: 1.3rem;
   color: white;
   background-color: rgb(241, 78, 78);
   cursor: pointer;
}








/* fim do style carrinho */
    


@media screen and ( max-width:500px) {

    .boxCarrinho{


            height: 300px;
     }

    
    .imgProd{

        width: 60px;
        height: 60px;
        border-radius: 8px;
        
        
    }

    .boxNomeItens{

        & h3{

            font-size: 4vw;
        }

        & p{

            font-size: 4vw;
        }
    }

    .boxAddItens{

        width: 80px;
    }

    .boxCountRevisar > button {

        width: 30px;
        height: 30px;
        border-radius: 50%;

    }


}


@media screen and (max-width:360px){

    .boxAddItens{

        width: 60px;
    }


}
