.boxDepoimentos{


    display: grid;
    grid-template-columns:repeat(2 , 500px);
    align-items: center;
    justify-content: center;
    gap: 100px;
    font-family: var(--rel);
    padding: 80px 10px;

}

.boxImagePizza{

    background-color: rgba(0, 255, 255, 0.514);
    width: 350px;
    height: 350px;
    position: relative;
    border-radius: 120px;
   
}


.imgPizza{

    width: 600px;
    height: fit-content;
    position: absolute;
    left: -100px;
    top: 20px;
    
}

.boxTxDepoimentos{


    display: flex;
    flex-direction: column;
    align-items: flex-start;
    


}

.boxTxDepoimentos h2 {

    text-transform: uppercase;
    font-size: 1.1rem;
    letter-spacing: 1px;
    color: var(--cormos);
    padding-bottom: 20px;
}

.boxTxDepoimentos > p {

    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 40px;

}


.boxAvatarTexto{

    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-end;
    justify-content: flex-start;
   gap: 10px;
    
}

.boxAvatarTexto .avatar{

    width: 75px;
    height: 75px;
    border-radius: 50%;
   
}

.boxAvaliacao h3{

    font-size: 1.5rem;

}

.stars{

    display: flex;
    flex-direction: row;
    gap: 3px;
}

.boxStars{

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 10px 0px;
}

.boxStars span {


    color: black;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;


}


.iconStars{

    color: var(--cormos);
}


.depoimentos{

    padding-top: 20px;
}


.depoimentos p {

    font-size: 1.2rem;
    color: black;
    font-weight: 600;
    
}

.aspas{

 color: var(--cormos);
 font-size: 2.5rem;
 padding: 8px 0px;
}

.aspas:last-of-type{

    float: right;
}


.navegacao {

    display: flex;
    flex-direction: row;
    gap: 10px;


}

.navegacao div {

    width: 50px;
    height: 50px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.603);
    align-content: center;
    text-align: center;
    border-radius: 8px;
   font-weight: 600;
   font-size: 1.4rem;
   cursor: pointer;
   transition: all 300ms linear;
   outline: 1px solid var(--cormos);
   
}

.navegacao div:hover {

    background-color: var(--cormos);
    transition: all 300ms linear;
    color: white;

}


.navegacao .corbtn{

    background-color: var(--cormos);
    color: white;

}



/* intersection anima */

 .boxDepoimentos .depoOn{

    transform: translateY(0);
    opacity: 1;
    transition: all 800ms linear;
    transition-delay: 400ms;

}

 .boxDepoimentos .depoOff{

    transform: translateY(-50px);
    opacity: 0;
    transition: none;
    

}



@media screen and (max-width:1300px) {

   .imgPizza{

    left: 0;
    width: 500px;
    height: fit-content;

   }
}



@media screen and (max-width:1130px) {


    .boxDepoimentos{

        gap: 10px;
    }

}


@media screen and (max-width:1045px) {

    

    .boxDepoimentos{

        grid-template-columns: 1fr;
        gap: 100px;
        align-content: center;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }

    .boxTxDepoimentos{

        align-items: center;
        justify-content: center;
        width: 100%;
        
    }

    .depoimentos{

        max-width: 500px;
        margin: 0px auto;
        padding: 0px 5px;
    }

    .boxAvatarTexto{

        align-items: center;
        justify-content: center;
        
    }

}


@media screen and ( max-width:680px) {


    .boxTxDepoimentos > p {

       font-size: 7vw;
        
    }

    .boxImagePizza{

        max-width: 60vw;
        height: 200px;
        
    }

    .imgPizza{

        max-width: 80vw;
        
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
    }

    .depoimentos{

        width: 100%;
        text-align: center;
        
    }

   
    .aspas:nth-of-type(1){

        display: block;
        
    }

    .depoimentos p {

        padding: 20px 10px;

    }




}

