.boxPai {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    font-family: var(--rel);
    color: rgba(0, 0, 0, 0.664);

}


.boxFilho {

    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 20px;
    margin-top: 100px;


}




.boxItensPedido h2 {

    font-size: 1.4rem;



}

.iconPedidoSend {

    width: 60px;
    height: 60px;
    border-radius: 15px;
}

.pedidos {

    border-bottom: 1px solid rgba(128, 128, 128, 0.63);
    overflow: auto;
    height: 293px;
    padding-top: 10px;
    padding-right: 10px;

}

.pedidos::-webkit-scrollbar {

    width: 5px;
}

.pedidos::-webkit-scrollbar-thumb {

    background-color: var(--cormos);
    border-radius: 10px;
}


.boxCardPedidos {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px 40px 0px;
    


}


.boxCardPedidos>p {

    font-size: 1.4rem;
    color: black;
    font-weight: 700;
}

.boxInfoPedido {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    
}

.boxInfoPedido h2 {

    font-weight: 700;
    color: black;
}

.boxInfoPedido p {

    color: var(--cormos);

}


.boxLocalEntraga {

    padding: 10px 0px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.63);
    margin-bottom: 10px;
}

.boxLocalEntraga>h2 {

    padding-bottom: 20px;
}

.iconMapa {

    width: 45px;
    height: 45px;
    color: var(--cormos);
}

.boxFilhoEntrega {

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
   
}

.boxTxEntrega>p {

    color: black;
    font-weight: 500;
}