.boxEscondido{

    font-family: var(--rell);
    font-size: 1.3rem;
    color: var(--cormos);
    text-transform: uppercase;
    border-bottom: 1px solid var(--corpadrao);
}

.boxEscondido nav{

    overflow: hidden;
   
    
}

.linkEscondido{

    width: 100%;
    color: var(--corpadrao)
}

.boxEscondido nav ul{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
   
   

.boxEscondido nav ul .linkEscondido  {

    width:calc(100% - 20px);
    text-align: center;
    transition: all 500ms;
    cursor: pointer;
    border-radius: 10px;
    
}

.boxEscondido nav ul .linkEscondido li  {

    text-align: center;
    transition: all 500ms;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
 
}


.boxEscondido nav ul .linkEscondido li:hover{

    background-color: var(--corpadrao);
    transition: all 500ms;
    color: white;
}




