.boxEscondido{

    font-family: var(--rell);
    font-size: 1.3rem;
    color: var(--cormos);
    text-transform: uppercase;
   
}

.boxEscondido nav{

    overflow: hidden;
   
    
}

.linkEscondido{

    width: 100%;
    color: var(--corpadrao)
}

.boxEscondido nav ul{

    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-end;
    
}
   
   

.boxEscondido nav ul .linkEscondido  {

    width:calc(100% - 20px);
    margin: 0px 10px;
    transition: all 500ms;
    cursor: pointer;
    border-radius: 10px;
    
}

.boxEscondido nav ul .linkEscondido li  {

  
    transition: all 500ms;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    text-align: left;
}


.boxEscondido nav ul .linkEscondido li:hover{

    background-color: var(--corpadrao);
    transition: all 500ms;
    color: white;
}



@media screen and (max-width:1040px) {

    .boxEscondido nav{

        border-bottom: 1px solid var(--corpadrao);
    }
}



