.boxHeader{

    width: 100%;
}


.boxHeader .boxVisibile{

    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-family: var(--rell);
    font-weight:lighter;
   
}
    
    
    


.boxHeader .navMenu ul{

    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.boxHeader .navMenu ul li{
    text-transform: uppercase;
    font-size: 1.3em;
    color: var(--cormos);
    cursor: pointer;
    transform: translateY(0);
    transition: transform 500ms;
}

.boxHeader .navMenu ul li:hover{

    color: var(--corpadrao);
    transform: translateY(-8px);
    transition: transform 500ms;
}


.iconBag{

    width: 35px;
    height: 35px;
    color: var(--corpadrao);

}

.logo{

    width: 150px;
    height: 150px;
    transition: all 500ms linear;
    cursor: pointer;

}

.logo:hover{

    transform: scale(1.1);
    transition: all 500ms linear;
}

.boxBag{

    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding:8px 40px;
    border-radius: 10px;
    color: var(--cormos);
    text-transform: uppercase;
    font-size: 1.3rem;
    outline: 1px solid var(--corpadrao);
    transition: all 500ms;
}
    

.boxBag:hover{

    background-color: var(--corpadrao);
    transition: all 500ms;
}

.boxIconBag{

    position: relative;
}

.countBag{

    position: absolute;
    width: 16px;
    height: 16px;
    top: -2px;
    left: -6px;
    font-size: 1rem;
    border-radius: 50%;
    background-color: var(--cormos);
    color: white;
    align-content: center;
    text-align: center;
    font-size: 0.9rem;
}
  

.boxBag:hover > .boxIconBag .iconBag{

    color: white;
}

.boxBag:hover p {

    color: white;
}



.boxBag{

    cursor: pointer;


}



.MenuLogoEcondido{

    display: none;
}

/* .iconMenu{

   background-color: var(--corpadrao);
    width: 50px;
    height: 50px;
    padding: 6px;
    border-radius: 5px;
    cursor: pointer;
     
} */

 .MenuLogoEcondido{

    display: none;
}

.boxHeader .MenuLogoEcondido .boxGrid {

    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 5px;
    cursor: pointer;
    

}


.boxHeader .MenuLogoEcondido .boxGrid > div{

    animation-name: animaQuadrado;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
    
    
}


.boxHeader .MenuLogoEcondido .boxGrid > div:nth-of-type(1){

    animation-delay: 0ms;
    transition: none;

}

.boxHeader .MenuLogoEcondido .boxGrid > div:nth-of-type(2){

    animation-delay: 1.5s;
    transition: none;

}

.boxHeader .MenuLogoEcondido .boxGrid > div:nth-of-type(3){

    animation-delay: 3s;
    transition: none;

}

.boxHeader .MenuLogoEcondido .boxGrid > div:nth-of-type(4){

    animation-delay: 4.5s;
    transition: none;

}




@keyframes animaQuadrado {

    to{

        background-color: var(--corpadrao);
        transition: none;
      

    }

}
    
        



.boxHeader .MenuLogoEcondido .quadrado {

    border: 2px solid var(--corpadrao);
    border-radius: 3px;
    width: 15px;
    height: 15px;
}

    

@media screen and (max-width:1040px) {

        .boxHeader .boxVisibile {

            justify-content: space-between;
            padding: 0px 40px;
        }

        .boxHeader .navMenu {

            display:none;
        }  

        .boxHeader .boxBag{

            display: none;
        }
        
        .MenuLogoEcondido{

            display: block;
        }

}