.boxBanner{

    /* background-image: url(../../../public/fundo.jpg);
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: var(--sans); */
    padding: 80px 10px 150px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: var(--rel); 

    gap: 250px;
   

}



.boxTexto{

    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.boxTexto strong{

    color: var(--corpadrao);
}

.boxTexto h1{

    font-size: 5rem;
    
}  

.boxTexto p {

   font-size: 1.4rem; 
   font-weight: 500;

}

.boxBtn{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    width: 100%;

}

.boxBtn button {

    width: 250px;
    padding: 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1.5rem;
}

.boxBtn > button{

    background-color:var(--corpadrao);
    color: white;
    transition: all 500ms;
    outline: 2px solid transparent;

}

.boxBtn .link{

    text-decoration: none;
    
}

.boxBtn .link > button {

    color: var(--corpadrao);
}



.boxBtn .link button {

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    transition: all 500ms;
   outline: 1px solid var(--corpadrao);
    
    
}

.boxBtn > button:hover{

    outline: 2px solid var(--corpadrao);
    transition: all 500ms;
    color: var(--corpadrao);
    background-color: #FFFDF7;
   
}

.boxBtn .link button:hover{

    background-color: var(--corpadrao);
    color: white;
    transition: all 500ms;
}

.boxBtn .link button:hover .iconPhone{

    color: white;
    transition: all 500ms;
}
    

.iconPhone{

    
    color: var(--corpadrao);
    width: 32px;
    height: 32px;
    border-radius: 5px;

    animation-name: animaPhone;
    animation-duration: 800ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;


}




.boxBack{

    
    background-color:var(--corpadrao);
    border-radius: 120px 180px 120px 180px ;
    position: relative;
    height: 450px;
    width: 450px;

}

.imgBurger{

    position: absolute;
    left: -200px;
    top: 80px;
    
}

.msg{

    position: absolute;
    bottom: -170px;
    background-color: white;
    max-width: 400px;
    padding: 8px;
    border-radius: 10px;
    right: 0;

}

.msg p {

    font-size: 1.2rem;
    text-align: left;
    
}

.msg span{

    text-align: right;
    display: block;
    color: var(--corpadrao);
    font-weight: bold;
}

.aspas{

    color: var(--corpadrao);
}

.boxRedes{

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

}

.iconRede{

    inline-size:35px;
    height: 35px;
    cursor: pointer;
    transition: all 500ms linear;
   

}


.iconRede:nth-of-type(3){

     width: 40px;
     height: 40px;   
}


.iconRede:hover{

    transform: scale(1.1);
    transition: all 500ms linear;

}



@keyframes animaPhone {


    to{

        transform: rotate(20deg);
    }

}


@media screen and (max-width:1334px) {

    .boxBanner{
        width: 100%;
       gap: 200px;
    }

    .boxBack{

        width: 400px;
        height: 400px;

    }

    .imgBurger{

        width: 130%;
        height: fit-content;
    }



    .boxTexto h1{

       font-size: 4.9rem; 
        
    }


 
        

}


@media screen and (max-width:1220px) {

    .boxBanner{

      flex-direction: column;
       gap: 50px;

    }
     
      

    .boxTexto{

        text-align: center;
        width: 100%;
        gap: 35px;
        
    }


    .boxTexto h1 {

        font-size: 5rem;
    }

    

    .boxBtn{

        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }

    


    .imgBurger{

        left: 50%;
        transform: translate(-50%);
    }


    .boxRedes{

        width: 100%;
        align-items: center;
        justify-content: center;
    }

}


@media screen and (max-width:540px) {

    .boxTexto h1 {

        font-size: 4rem;
    }

    .msg p {

        font-size: 1rem;
        padding-bottom: 5px;
    }

    .boxBack{

        max-width: 90vw;
        border-radius: 80px 180px;
        
    }

    .imgBurger{

        width: 90vw;

    }

}   




    




    