.boxServicos {

    width: 100%;
    text-align: center;
    font-family: var(--sans);
    padding: 100px 10px;

   
}

.boxServicos h1 {

    text-transform: uppercase;
    font-size: 3.5rem;
    color: var(--cormos);

}

.boxServicos > p {

   font-size: 2rem;
   font-family: var(--rel);
   font-weight: 600;
   color: rgba(0, 0, 0, 0.753);

}


.imageServ{

  width: 100%;
  height:fit-content;
  aspect-ratio: 4/4;
}




 .boximgServ {

    padding: 50px 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap:40px;
    
   
    
}


.boxCardServ{

width:500px;
min-height: 500px;


}


.boxCardServ h2 {

    text-transform: uppercase;
    font-size: 2rem;
}

.boxCardServ p {

    font-family: var(--rel);
    font-size: 1.4rem;
}





@media screen and (max-width:1080px) {

       
       .boximgServ{

            flex-wrap: wrap;
            gap: 40px;
           
       }  
       
      

      
}



@media screen and (max-width:420px) {

        .boxCardServ{

            width: 100%;
            
            height: fit-content;
        }

}
        
        

        





