.boxServicos {

    width: 100%;
    text-align: center;
    font-family: var(--rell);
    padding: 100px 10px 90px 10px;

   
}

.boxServicos h1 {


    font-size: 3rem;
    padding: 10px 0px;
    text-transform: uppercase;
    color: var(--cormos);
 

}

.boxServicos > p {

   font-size: 2rem;
   font-family: var(--rel);
   font-weight: 600;
   color: rgba(0, 0, 0, 0.753);
   

}


.imageServ{

  width: 100%;
  height:fit-content;
  aspect-ratio: 4/4;
}




 .boximgServ {

    padding: 50px 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap:40px;
    
   
    
}


.boxCardServ{

width:500px;
min-height: 500px;


}


.boxCardServ h2 {

  
    font-size: 2rem;
    color: var(--corpadrao);
}

.boxCardServ p {

    font-family: var(--rel);
    font-size: 1.4rem;
}



/* intersectioon anima */


.animaOff{

    transform: translateX(-250px);
    opacity: 0;
    filter:blur(5px);
    transition: none;

    

}

.animaOn{

    transform: translate(0);
    opacity: 1;
    filter: blur(0);
    transition: all 800ms ease-in;
    transition-delay: 200ms;
    
}




@media screen and (max-width:1080px) {

       
       .boximgServ{

            flex-wrap: wrap;
            gap: 40px;
           
       }  
       
      

      
}


@media screen and (max-width:500px) {

    .boxServicos > h1 {

        font-size:12vw ;

    }

    .boxServicos > p {

        font-size:8vw ;

    }

}

@media screen and (max-width:420px) {

        .boxCardServ{

            width: 100%;
            
            height: fit-content;
        }

}
        
        

        





